# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  regtest
)

S3method("!=", index)
S3method("!=", rindex)
S3method("<", index)
S3method("<", rindex)
S3method("<=", index)
S3method("<=", rindex)
S3method("==", index)
S3method("==", rindex)
S3method(">", index)
S3method(">", rindex)
S3method(">=", index)
S3method(">=", rindex)
S3method("[", index)
S3method("[", rindex)
S3method("[<-", index)
S3method("[<-", rindex)
S3method(c, index)
S3method(c, rindex)
S3method(is.na, index)
S3method(is.na, rindex)
S3method(length, index)
S3method(length, rindex)
S3method(names, index)
S3method("names<-", index)
S3method("names<-", rindex)
S3method(print, index)
S3method(print, rindex)
S3method(sort, index)
S3method(sort, rindex)
S3method(str, index)
S3method(str, rindex)

importFrom("utils", "object.size")
